<!DOCTYPE html>
<head>
    <meta chrset="UTF-8">
    <title>{{ main_title|default:"Без заголовка" }}</title>
</head>
<body>
<p>{{ menu }}</p>
<p>{{ float|divisibleby:'2' }}</p>
<p>{{ list|length }}</p>
<p>{{ set }}</p>
<p>{{ dict.key_1 }}{{ dict.key_2 }}</p>
<p>{{ obj.a }}</p>
<p>{{ url }}</p>
    <h1>
        {{ title|cut:' '|cut:'?' }}
    </h1>
</body>
</html>